<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Salut {{name}},</p>
        <p>Vos données  pour confirmer et activer votre compte.</p>
        <p>Lien d'activation: {{link}} </p>
        {{!-- <p>Lien d'activation: <a href="{{link}}">Activer votre compte</a> </p> --}}
    </body>
</html>
